/**
 * Breakpoints
 */
$breakpoints: (
        xxs: 439px,
        xs: 479px,
        sm: 767px,
        md: 991px,
        lg: 1199px,
        xl: 1399px,
);

/**
 * Body
 */
$font-body          :   'Poppins', sans-serif;

/**
 * Colors
 */

$color-primary      :   #000;
$color-blue         :   #4A90E2;
$color-blue-dark    :   #011a3b;
$color-blue-light   :   #E3EFFF;
$color-blue-indigo  :   #6790D8;
$color-blue-super   :   #4289EE;
$color-black        :   #000;
$color-gray         :   #F4F4F4;
$color-gray-light   :   #ECECEC;
$color-gray-s-light :   #4A4A4A;
$color-gray-dark    :   #3C4044;
$color-yellow       :   #F3D8A5;
$color-text         :   #ACACAC;
$color-white        :   #fff;
$color-light        :   #E7E5E5;
$color-red          :   #D27E7B;
$color-red-strong   :   #67062a;
$color-green        :   #9ACAA1;
$color-green-alt    :   #6A9971;
$color-purple       :   #887BD2;
$color-pink         :   #e01d4f;
$color-orange       :   #E89677;
$color-phiolent     :   #877AD1
