.w_history {
  $width-timeline: 130px;
  $width-nav: 130px;

  @include _flexbox();
  padding: 15px 0 0 0;

  &__timeline {
    width: $width-timeline;
    @include _flexbox();
    @include _flex-direction(column);

    &-years {
      @include _flexbox();
      @include _flex-direction(column);
      @include _justify-content(space-between);
      height: 100%;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 7px;
        width: 1px;
        border-right: 1px dashed #979797;
        top: 0;
        bottom: 0;
      }

      > li {
        @include _flexbox();
        @include _align-items(flex-start);
        @include _justify-content(flex-start);
        padding: 0 0 0 30px;
        position: relative;
        height: 100%;

        &::after,
        &::before {
          content: '';
          display: block;
          position: absolute;
          background-position: center center;
          background-repeat: no-repeat;
        }

        &::before {
          width: 5px;
          background-color: $color-black;
          top: -100%;
          height: 0;
          left: 0;
          z-index: 1;
          left: 6px;
          //transition: all 0.15s linear;
        }

        &::after {
          width: 23px;
          height: 24px;
          background-image: url("../images/history/arrow-down.svg");
          display: none;
          left: -3px;
          top: -6px;
          z-index: 2;
        }

        &:first-child {
          &::after {
            background-image: url("../images/history/arrow-up.svg");
          }
          &::before {
            display: none;
          }
        }

        &:last-child {
          //height: auto;
          &::after {
            background-image: url("../images/history/arrow-up.svg");
          }
        }

        &:not(:last-child) {
          //margin: 0 0 40px 0;
        }

        &.active {
          &::after {
            display: block;
          }

          &::before {
            height: 100%;
          }

          > a {
            font-weight: 500;
            font-size: 14px;
            color: $color-black;
          }
        }

        > a {
          font-weight: 300;
          font-size: 14px;
          line-height: 1;
          color: $color-gray-s-light;
        }
      }
    }
  }

  &__visual {
    width: calc(100% - (#{$width-timeline} + #{$width-nav}));
  }

  &__nav {
    width: $width-nav;
    @include _flexbox();
    @include _flex-direction(column);
    @include _justify-content(space-between);
    padding: 0 0 0 40px;
    margin: 0 0 15px 0;

    &-list {

      > li {
        position: relative;

        &:not(:last-child) {
          padding: 2px 0;
        }

        &.active {
          .w_history__nav-list-item {
            font-weight: 500;
            font-size: 13px;

            &::before {
              display: block;
            }

            &::after {
              width: calc(100% + 24px);
            }
          }
        }

      }

      &-item {
        font-weight: 300;
        font-size: 13px;
        line-height: 1.1;
        color: $color-black;
        @include _flexinline();
        padding: 8px 8px 8px 0;
        position: relative;

        &::after,
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
        }

        &::before {
          $size: 6px;

          width: $size;
          height: $size;
          left: -15px;
          background: url("../images/icons/arrow_right_small.svg") center center no-repeat;
          top: 50%;
          transform: translateY(-50%);
          z-index: 2;
          display: none;
        }

        &::after {
          background-color: $color-green;
          top: 0;
          bottom: 0;
          left: -24px;
          width: 0;
          transition: all 0.15s linear;
        }
      }
    }
  }
}
