.w_years {
  $offset: 100px;

  height: 100%;
  margin: 0;

  &__swiper {
    padding: 0 $offset 0 0;
  }

  &__wrapper {

    &-slide {
      width: auto;
    }

  }

  &__container {
    $height: 210px;

    height: $height;
    position: relative;
    width: auto;
    margin: 0px 0 50px 0;

    &-list {
      @include _flexbox();
      direction: ltr;

      &--item {
        width: 100px;
        height: $height;
        position: relative;
        @include _flexbox();
        @include _flex-direction(column);
        @include _align-items(center);
        @include _justify-content(flex-start);

        &::after {
          content: '';
          display: block;
          width: 1px;
          position: absolute;
          z-index: 1;
          left: 50%;
          transform: translateX(-50%);
          bottom: 2px;
          top: 35px;
          border-right: 1px solid $color-gray-light;
          transition: all 0.2s linear;
          opacity: 0;
          //visibility: hidden;
        }

        &:last-child {
          //width: 50px;
        }

      }

      &--title {
        font-weight: 300;
        font-size: 12px;
        line-height: 1.2;
        color: $color-black;
        margin: 0 0 10px 0;
      }

      &--points {
        @include _flexbox();
        @include _flex-direction(column);
        @include _justify-content(center);
        width: 100%;
        transition: all 0.2s linear;

        > li {
          @include _flexbox();
          @include _justify-content(center);
          @include _align-items(center);
          height: 30px;

          &:not(:last-child) {

          }
        }

        &---point {
          display: block;
          border-radius: 50%;

          &.green {
            background-color: $color-green;
          }

          &.gray {
            background-color: $color-gray-light;
          }

          &.orange {
            background-color: $color-orange;
          }

          &.yellow {
            background-color: $color-yellow;
          }

          &.blue {
            background-color: $color-blue-indigo;
          }

          &.purple {
            background-color: $color-purple;
          }

          &.red {
            background-color: $color-red;
          }




          &.xs {
            $size: 10px;

            width: $size;
            height: $size;
          }

          &.xss {
            $size: 12px;

            width: $size;
            height: $size;
          }

          &.sm {
            $size: 14px;

            width: $size;
            height: $size;
          }

          &.md {
            $size: 16px;

            width: $size;
            height: $size;
          }

          &.lg {
            $size: 20px;

            width: $size;
            height: $size;
          }

        }

      }

      &--card {
        $size: 60px;

        @include _flexbox();
        @include _align-items(center);
        @include _justify-content(center);
        background-color: $color-green;
        transition: all 0.2s linear;
        position: absolute;
        width: $size;
        height: $size;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        top: 75px;
        opacity: 0;
        //visibility: hidden;

        &---badge {
          $size: 25px;
          background-color: $color-black;
          width: $size;
          height: $size;
          position: absolute;
          top: -#{$size};
          color: $color-white;
          backdrop-filter: blur(16.31px);
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          @include _flexbox();
          @include _align-items(center);
          @include _justify-content(center);
          right: 0;
        }
      }

    }

    &--title {
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: $color-black;
    }

  }

  &.active {

    .w_years {

      &__container {

        &-list {

          &--item {

            &::after {
              opacity: 1;
              //visibility: visible;
              transition-delay: 250ms;
            }
          }

          &--points {
            opacity: 0;
          }

          &--card {
            transition-delay: 250ms;
            opacity: 1;
            //visibility: visible;
          }

        }

      }

    }

  }

}
