.history {

  &__timeline {
    height: calc(100vh - 160px);
    padding-top: 43px;
    padding-right: 40px;

    .w_history {

      &__nav {
        padding-bottom: 100px;
        margin-bottom: 0;
      }
    }

  }

}
